body{
    background-color: #00ACC1;
}

h1,h2{
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}

p{
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-weight: 100;
}

span{
    margin: 2px;
}

button{
    background-color: #00ACC1;
    border: 1px solid #fff;
    width: 180px;
    margin: 10px;
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: double;
    font-size: 1em;
    transition: all 0.5s ease-in-out;
}

button:hover{
    background-color: #fff;
    color: #00ACC1;
}

#clicks{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}